<ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let new of rows" >
        <div class="row">
            <div class="col-3" >
                <img src="{{ new.image_url != null ? new.image_url:'./assets/img/no-preview.png' }}" 
                 class="img-thumbnail">
            </div>
            <div class="col-9" >
                <h4>{{new.title | titlecase}}</h4><small>{{new.pubDate | date:'short'}}</small>
                <p>{{ new.description | slice:0:160 }}... <a [routerLink]="[ '/noticia', new.source_id]"   (click)="capturaFila( new )">ver mas</a></p>
            </div>
        </div>
    </li>
  </ul>
