<ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let new of rows" >
        <div class="row">
            <div class="col-3" >
                <img src="{{ new.image_url != null ? new.image_url:'./assets/img/no-preview.png' }}" 
                 class="img-thumbnail">
            </div>
            <div class="col-9" ><a href="{{new.link}}" target="_blank"  >Ver noticia en sitio de origen</a>
                <h4>{{new.title | titlecase}}</h4><small>{{new.pubDate | date:'short'}}</small>
                <p>{{new.description | slice:0:120 }}...
                    <a href="javascript:;" (click)="capturaFila( new )">Mas detalles</a>
                    <br>
                    
                </p>
            </div>
        </div>
    </li>
  </ul>
